<div id="wrapper">
    <%= render "layouts/topbar" %>
        <%= render "layouts/leftbar" %>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="page-title-box">
                                    <h4 class="page-title float-left">Ruby Two</h4>
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="#">My Genealogy</a></li>
                                        <li class="breadcrumb-item active">Ruby Two</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box ruby">
                                    <!--
                                    We will create a family tree using just CSS(3)
                                    The markup will be simple nested lists
                                    -->
                                    <ul class="tree">
                                        <li>
                                            <span class="parent">
                                                <a tabindex="0" data-html="true" data-placement="bottom" role="button" data-toggle="popover" data-trigger="hover" title="" data-content="<p><span>User ID:</span> 5434</p><p><span>Name:</span> Uchenna Mba</p><p><span>Sponsor ID:</span> 49395</p><p><span>Total Downline</span> 187</p>" data-original-title="Username"><i class="fa fa-user"></i></a>
                                                <br>
                                                <label>Username</label>
                                            </span>
                                            <ul>
                                                <li>
                                                    <span class="first-downline">
                                                        <i class="fa fa-user"></i><br>
                                                        <label>Child</label>
                                                    </span>
                                                    <ul>
                                                        <li>
                                                            <span class="first-downline">
                                                                <i class="fa fa-user"></i><br>
                                                                <label>G-Child</label>
                                                            </span>
                                                            <ul>
                                                                <li>
                                                                    <span class="first-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="second-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label> GG-Child </label>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span class="first-downline">
                                                                <i class="fa fa-user"></i><br>
                                                                <label>G-Child</label>
                                                            </span>
                                                            <ul>
                                                                <li>
                                                                    <span class="first-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="second-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="second-downline">
                                                        <i class="fa fa-user"></i><br>
                                                        <label>Child</label>
                                                    </span>
                                                    <ul>
                                                        <li>
                                                            <span class="first-downline">
                                                                <i class="fa fa-user"></i><br>
                                                                <label>G-Child</label>
                                                            </span>
                                                            <ul>
                                                                <li>
                                                                    <span class="first-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="second-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span class="first-downline">
                                                                <i class="fa fa-user"></i><br>
                                                                <label>G-Child</label>
                                                            </span>
                                                            <ul>
                                                                <li>
                                                                    <span class="first-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="second-downline">
                                                                        <i class="fa fa-user"></i><br>
                                                                        <label>GG-Child</label>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- content -->
            </div>
            <!-- End content-page -->
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

                <%= render "layouts/dashfoot" %>
</div>
<!-- END wrapper -->