<!-- =========================
      START PAGE TITLE SECTION
      ============================== -->
<section class="page-title-area feature-head-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="about-head-content">
                    <h2>We Are Coming Soon</h2>
                    <p>On your way to wealth!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- START COUNTDOWN -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 tk-countdown">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
  .page-title-area {
    padding-top: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 100%;
  }
  @media(max-width: 767px) {
    .page-title-area {
      height: 100%;
      position: relative;
      top: 0;
      bottom: 0;
    }
  }
</style>