<!-- START REVOLUTION SLIDER 5.0 -->
<div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-index="rs-6" data-transition="parallaxtoright" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-delay="6510" data-rotate="0" data-saveperformance="off" data-title="1/3" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/slide1.png" alt="" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['325','325','325','325']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:500;s:500;" data-start="1200" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;"><span class="sl-italic">Invest today, Earn tomorrow</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['370','370','370','370']" data-width="none" data-height="none" data-whitespace="nowrap" data-fontsize="['50','40','40','25']" data-lineheight="['58','40','40','30']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 58px; font-weight: 800; color: rgba(34, 34, 34, 1.00);">
                    <div class="text-center heading-rp-small">We are EssentialLife</div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['460','460','460','460']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:500;s:500;" data-start="2400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;">
                    <div class="sl-italic sl-italic-2 text-center">Our matrix system would help you earn cash on the go,
                        <br> developing a plan that is custom-built for your lifestyle. </div>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['535','535','585','585']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="2800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight: 600; padding:18px 50px;">
                    <div class="rev-slider-btn text-center"><a href="#">Read More </a><a href="#">Register Now</a></div>
                </div>
            </li>
            <li data-index="rs-7" data-transition="parallaxtoright" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-delay="6500" data-rotate="0" data-saveperformance="off" data-title="2/3" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/slide2.png" alt="" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['270','270','270','270']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="y:-50px;opacity:0;s:500;s:500;" data-start="1200" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;"><img src="/assets/logo-type-2.png" alt="" width="120" height="78" data-ww="['120pxpx','120pxpx','120pxpx','120pxpx']" data-hh="['78px','78px','78px','78px']" data-no-retina>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['370','370','370','370']" data-width="none" data-height="none" data-whitespace="nowrap" data-fontsize="['50','40','40','25']" data-lineheight="['58','40','40','30']" data-transform_idle="o:1;" data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 58px; font-weight: 800; color: rgba(34, 34, 34, 1.00);">
                    <div class="text-center heading-rp-small">We Are Wealth Creators - Essential Life</div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['460','460','460','460']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:500;s:500;" data-start="2400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;">
                    <div class="sl-italic sl-italic-2 text-center">We have a vision to be a universal network marketing brand 
                        <br>that positively affects lives.</div>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['535','535','535','535']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="x:-50px;opacity:0;s:500;s:500;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight: 600; padding:20px 50px 20px 50px;">
                    <div class="rev-slider-btn rev-slider-btn-3 text-center"><a href="#">Register Now</a></div>
                </div>
            </li>
            <li data-index="rs-14" data-transition="parallaxtoleft" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-delay="6510" data-rotate="0" data-saveperformance="off" data-title="3/3" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/slide3.png" alt="" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['325','325','325','325']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;"><span class="sl-italic">Start growing your business</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['370','370','370','370']" data-width="none" data-height="none" data-whitespace="nowrap" data-fontsize="['50','40','40','25']" data-lineheight="['58','40','40','30']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1200" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-weight: 800; color: rgba(34, 34, 34, 1.00);">Research. Puplish . Measure
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption Fashion-BigDisplay tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['460','460','490','490']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:500;s:500;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 28px; font-weight: 400; color: rgba(71, 71, 71, 1.00);font-family:Lora;">
                    <div class="sl-italic sl-italic-2 text-center">Research influencers, manage your relationships, and conduct outreach
                        <br> that’s personalized and efficient. </div>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['535','535','585','585']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight: 600; padding:20px 50px 20px 50px">
                    <div class="rev-slider-btn rev-slider-btn-2 text-center"><a href="home.html#">Get Started Now</a></div>
                </div>
            </li>
        </ul>
    </div>
    <!-- END REVOLUTION SLIDER -->
</div>
<!-- END OF SLIDER WRAPPER -->
<!-- =========================
        START WELCOME SECTION
      ============================== -->
<section class="welcome-area">
    <!-- MAIN TITLE AREA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-title wow zoomIn">
                    <div class="main-shadow-heading">
                        <h2>Need More Money?</h2>
                    </div>
                    <h2>Need More Money?</h2>
                    <h3>With Essential life, you can increase your wallet!</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE -->
    <div class="marketing-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="marketing-left-content wow fadeInLeft">
                        <h3>Essential Life is focused on creating wealth for quality livelihood all over the world. We are concerned with the level of poverty in the world especially Africa. </h3>
                        <h3>The focus is to create network of people who will integrate strength and skills and build family wealth capable of sustaining children's education, health, feeding, shelter and tour.</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="marketing-right-content wow fadeInRight">
                        <img src="/assets/diagram.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-link pricinig-head-btn marketing-btn text-center">
                        <a href="#">Download PDF</a>
                        <a href="#">How it works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
        END WELCOME SECTION
      ============================== -->
<!-- =========================
      START MARKETING SECTION
      ============================== -->
<section class="marketing-section grey-bg">
    <!-- MAIN TITLE AREA -->
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="main-title main-title-no-divider wow zoomIn">
                     <div class="main-shadow-heading">
                        <h2>Connect With Customers, Grow Your Business</h2>
                     </div>
                     <h2>Connect With Customers, Grow Your Business</h2>
                     <h3>By Using The Metrics Search Analysis</h3>
                  </div>
               </div>
            </div>
         </div> <!-- END TITLE -->
         <div id="rev_slider_9_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" 
         style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_9_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.1">
               <ul>
                  <li data-index="rs-20" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> 
                     <img src="/assets/transparent.png"  alt="" title="Home"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-2" data-x="center" data-hoffset="" data-y="bottom" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="100" data-responsive_offset="on" style="z-index: 5;">
                     <img src="/assets/slide-feature-01-1.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina></div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-3" 
                        data-x="center"
                        data-hoffset=""
                        data-y=""
                        data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']"
                        data-transform_idle="o:1;"
                        data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
                        data-transform_out="opacity:0;s:300;s:300;"
                        data-start="500"
                        data-responsive_offset="on" 
                        style="z-index: 6;">
                        <img src="/assets/slide-feature-01-4.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-4" 
                        data-x="center" data-hoffset="" 
                        data-y="bottom" data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" 
                        data-start="250" 
                        data-responsive_offset="on" 
                        style="z-index: 7;">
                        <img src="/assets/slide-feature-01-3.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-5" 
                        data-x="center" data-hoffset="" 
                        data-y="bottom" data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" data-start="600" 
                        data-responsive_offset="on" style="z-index: 8;">
                        <img src="/assets/slide-feature-01-5.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-6" 
                        data-x="center" 
                        data-hoffset="" 
                        data-y="bottom" 
                        data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" 
                        data-start="400" 
                        data-responsive_offset="on" 
                        style="z-index: 9;">
                        <img src="/assets/slide-feature-01-2.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-7" 
                        data-x="center" 
                        data-hoffset="" 
                        data-y="bottom" 
                        data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" 
                        data-start="700" 
                        data-responsive_offset="on" 
                        style="z-index: 10;">
                        <img src="/assets/slide-feature-01-6.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-8" 
                        data-x="center" 
                        data-hoffset="" 
                        data-y="bottom" 
                        data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" 
                        data-start="750" 
                        data-responsive_offset="on" 
                        style="z-index: 11;">
                        <img src="/assets/slide-feature-01-7.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                     <div class="tp-caption   tp-resizeme" id="slide-20-layer-9" 
                        data-x="center" 
                        data-hoffset="" 
                        data-y="bottom" 
                        data-voffset="" 
                        data-width="['none','none','none','none']" 
                        data-height="['none','none','none','none']" 
                        data-transform_idle="o:1;" 
                        data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;" 
                        data-transform_out="opacity:0;s:300;s:300;" 
                        data-start="800" data-responsive_offset="on" 
                        style="z-index: 12;">
                        <img src="/assets/slide-feature-01-8.png" alt="" width="1600" height="660" data-ww="1600px" data-hh="660px" data-no-retina>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
</section>
<!-- =========================
      END MARKETING SECTION
      ============================== -->
<!-- =========================
        START SOLUTION SECTION
      ============================== -->
<section class="solution-area">
    <!-- MAIN TITLE AREA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-title wow zoomIn">
                    <div class="main-shadow-heading">
                        <h2>Best MultiLevel Marketing Platform</h2>
                    </div>
                    <h2>Best MultiLevel Marketing Platform</h2>
                    <h3>Earn Money, Satisfy Your Needs</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE -->
    <div class="solution-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="solution-single-content solution-single-content-no-border wow fadeInLeft">
                        <h2>Friendly Network</h2>
                        <p>Essential Life is a User Friendly Multi Level Marketing Platform, making it easier for every member to track their network growth.</p>
                        <span><i class="icon icon-Chart"></i></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="solution-single-content wow fadeInUp">
                        <h2>Security</h2>
                        <p>At essential life, our members security is our priority, therefore, Member details are secured and encrypted in our database.</p>
                        <span><i class="icon icon-Shield"></i></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="solution-single-content wow fadeInRight">
                        <h2>Web & Mobile Ready</h2>
                        <p>Essential life is easily accessible using any mobile device or PC computer, making it reachable at any time, from anywhere!</p>
                        <span><i class="icon icon-Puzzle"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="all-link solution-btn text-center">
                        <a href="#">More Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
        END SOLUTION SECTION
      ============================== -->
<!-- =========================
        START PRICING-TABLE SECTION
      ============================== -->
<section class="pricing-table-section grey-bg">
    <!-- MAIN TITLE AREA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-title wow zoomIn">
                    <div class="main-shadow-heading">
                        <h2>Understanding Our Matrix</h2>
                    </div>
                    <h2>Understanding Our Matrix</h2>
                    <h3>Stages and Bonuses</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE -->
    <!-- PRICING TABLE CONTENT -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-table-content text-center wow fadeInLeft">
                    <div class="pricing-table-head">
                        <div class="pricing-head-top">
                            <span>Feeder Stage</span>
                        </div>
                        <div class="pricing-head-content">
                            <span>$</span>
                            <span>17.5</span>
                            <span>/ Reg Fee</span>
                        </div>
                    </div>
                    <div class="pricing-table-inner-content">
                        <div class="pricing-table-title">
                            <p>Register 2 persons with your referal link</p>
                        </div>
                        <div class="pricing-table-list">
                            <ul>
                                <li><span>&#8358;2000</span> * 2 Direct Referral bonus</li>
                                <li><span>&#8358;1K</span> * 4 From Downline1 referal each</li>
                                <li><span>&#8358;500</span> * 8 From Downline2 referal each</li>
                                <li><span>&#8358;12,000</span> Profit</li>
                                <li>E-Wallet</li>
                            </ul>
                            <div class="all-link pricinig-bottom-btn text-center">
                                <a href="#">Register Now!<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-table-content text-center wow fadeInLeft">
                    <div class="pricing-table-head">
                        <div class="pricing-head-top">
                            <span>Ruby 1 Stage</span>
                        </div>
                        <div class="pricing-head-content">
                            <span>$</span>
                            <span>0</span>
                            <span>/ Reg Fee</span>
                        </div>
                    </div>
                    <div class="pricing-table-inner-content">
                        <div class="pricing-table-title">
                            <p>Step out from Feeder stage once downline completes 14</p>
                        </div>
                        <div class="pricing-table-list">
                            <ul>
                                <li><span>&#8358;10,000</span> Step Out Bonus</li>
                                <li><span>$5</span> * 14 From all downline that completes feeder stage</li>
                                <li><span>1 Blender</span> Item Bonus</li>
                                <li><span>&#8358;10,000 + $70</span> Profit</li>
                            </ul>
                            <div class="all-link pricinig-bottom-btn text-center">
                                <a href="#">Register Now!<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-table-content text-center wow fadeInLeft">
                    <div class="pricing-table-head">
                        <div class="pricing-head-top">
                            <span>Ruby 2 Stage</span>
                        </div>
                        <div class="pricing-head-content">
                            <span>$</span>
                            <span>0</span>
                            <span>/ Reg Fee</span>
                        </div>
                    </div>
                    <div class="pricing-table-inner-content">
                        <div class="pricing-table-title">
                            <p>Step out from Ruby stage 1 once 14 downlines completes feeder stage</p>
                        </div>
                        <div class="pricing-table-list">
                            <ul>
                                <li><span>&#8358;100,000</span> Step Out Bonus</li>
                                <li><span>$20</span> * 14 From all downline that completes Ruby stage 1</li>
                                <li><span>25KG of Rice</span> : Incentive</li>
                                <li><span>&#8358;100,000 + $280</span> Profit</li>
                            </ul>
                            <div class="all-link pricinig-bottom-btn text-center">
                                <a href="#">Register Now!<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-table-content text-center wow fadeInLeft">
                    <div class="pricing-table-head">
                        <div class="pricing-head-top">
                            <span>Ruby 3 Stage</span>
                        </div>
                        <div class="pricing-head-content">
                            <span>$</span>
                            <span>0</span>
                            <span>/ Reg Fee</span>
                        </div>
                    </div>
                    <div class="pricing-table-inner-content">
                        <div class="pricing-table-title">
                            <p>Step out from Ruby stage 2 once 14 downlines enters Ruby stage 2</p>
                        </div>
                        <div class="pricing-table-list">
                            <ul>
                                <li><span>&#8358;500,000</span> Step Out Bonus</li>
                                <li><span>$120</span> * 14 From all downline that completes Ruby stage 2</li>
                                <li><span>$5000</span> : Incentive</li>
                                <li><span>&#8358;500,000 + $6,680</span> Profit</li>
                            </ul>
                            <div class="all-link pricinig-bottom-btn text-center">
                                <a href="#">Register Now!<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-table-content text-center wow fadeInLeft">
                    <div class="pricing-table-head">
                        <div class="pricing-head-top">
                            <span>Ruby 4 Stage</span>
                        </div>
                        <div class="pricing-head-content">
                            <span>$</span>
                            <span>0</span>
                            <span>/ Reg Fee</span>
                        </div>
                    </div>
                    <div class="pricing-table-inner-content">
                        <div class="pricing-table-title">
                            <p>Step out from Ruby stage 3 once 14 downlines enters Ruby Stage 3</p>
                        </div>
                        <div class="pricing-table-list">
                            <ul>
                                <li><span>$25,000</span> Step Out Bonus</li>
                                <li><span>$200</span> * 14 From all downline that completes Ruby stage 2</li>
                                <li><span>Car worth 4,000,000</span> : Incentive</li>
                                <li><span>$27,800</span> Profit</li>
                            </ul>
                            <div class="all-link pricinig-bottom-btn text-center">
                                <a href="#">Register Now!<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-table-self">
        <img src="/assets/pricing-table-self.png" alt="" class="img-responsive">
    </div>
</section>
<!-- =========================
        END PRICING-TABLE SECTION
      ============================== -->
<!-- =========================
        START HELP SECTION
      ============================== -->
<section class="help-area">
    <!-- MAIN TITLE AREA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-title wow zoomIn">
                    <div class="main-shadow-heading">
                        <h2>Not Yet Sure? Let Us Help</h2>
                    </div>
                    <h2>Not Yet Sure? Let Us Help</h2>
                    <h3>Trusted By The Best Marketers</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE -->
    <div class="help-content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="help-accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="home.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                     How do I start?
                                   </a>
                                 </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        It's easy, Just fill the registration form and get your own dashboard and referral link today
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="home.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                     How do I get people to register?
                                   </a>
                                 </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        You can invite friends and families to our seminars and conventions where we speak about how essential life works to help them grow wealthier.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="home.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What Payment Methods Are Available?
                                      </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        You make payment for registeration via credit card(ATM Transactions) or via Bank Deposit, Our Account Numbers would be sent to you via email after registration.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="help-question">
                        <p>Send us an email, we are more than happy to reply you as soon as we get your enquiry </p>
                        <span><a href="#">Ask A Question <i class="fa fa-long-arrow-right"> </i></a></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="help-slider" class="owl-carousel all-carousel owl-theme">
                        <div>
                            <div class="help-slider-content">
                                <div class="help-slider-text">
                                    <i class="fa fa-quote-left"></i>
                                    <i class="fa fa-quote-right"></i>
                                    <p>I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful. </p>
                                    <img src="/assets/home-slider-img-left.png" alt="">
                                </div>
                                <div class="help-slider-img">
                                    <h2>Warren Buffett</h2>
                                    <h3>Investor</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="help-slider-content">
                                <div class="help-slider-text">
                                    <i class="fa fa-quote-left"></i>
                                    <i class="fa fa-quote-right"></i>
                                    <p>The stock market is filled with individuals who know the price of everything, but the value of nothing.</p>
                                    <img src="/assets/home-slider-img-left2.png" alt="">
                                </div>
                                <div class="help-slider-img">
                                    <h2> Phillip Fisher</h2>
                                    <h3>Author</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
        END HELP SECTION
      ============================== -->
<!-- =========================
        START TEAM SECTION
      ============================== -->
<section class="team-area grey-bg">
    <!-- MAIN TITLE AREA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-title wow zoomIn">
                    <div class="main-shadow-heading">
                        <h2>What Our Members Say</h2>
                    </div>
                    <h2>What Our Members Say</h2>
                    <h3>Testimonials from a few beneficiaries</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="client-bg-2-slider" class="owl-carousel all-carousel owl-theme">
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>With Essential Life, I've beenable to save up enough money for my dream house and car, all in the time of 4 months! </h3>
                            <img src="/assets/client/client-user-1.png" alt="">
                        </div>
                        <h2>Alex Onozor</h2>
                        <h3>Civil Servant</h3>
                    </div>
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>With Essential Life, I've beenable to save up enough money for my dream house and car, all in the time of 4 months!</h3>
                            <img src="/assets/client/client-user-2.png" alt="">
                        </div>
                        <h2>Fouad Badawy</h2>
                        <h3>CEO</h3>
                    </div>
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>Metrics is one of the most impressive social media software efforts I've ever seen. From the intuitive interface to the powerful tools.</h3>
                            <img src="/assets/client/client-user-3.png" alt="">
                        </div>
                        <h2>Mostafa Mabrouk</h2>
                        <h3>Web Developer</h3>
                    </div>
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>In my job as social media strategist, I've tried every analytics product on the market and when I came across Metrics, I was blown away! </h3>
                            <img src="/assets/client/client-user-1.png" alt="">
                        </div>
                        <h2>Mahmoud Baghagho</h2>
                        <h3>Art Director</h3>
                    </div>
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>The ability to generate reports that tell more about a website than a prospect knows is the key to building business using Metrics.</h3>
                            <img src="/assets/client/client-user-2.png" alt="">
                        </div>
                        <h2>Fouad Badawy</h2>
                        <h3>CEO</h3>
                    </div>
                    <div class="client-2-slider">
                        <div class="client-2-slider-content">
                            <span><i class="fa fa-quote-left"></i></span>
                            <h3>Metrics is one of the most impressive social media software efforts I've ever seen. From the intuitive interface to the powerful tools.</h3>
                            <img src="/assets/client/client-user-3.png" alt="">
                        </div>
                        <h2>Mostafa Mabrouk</h2>
                        <h3>Web Developer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
        END TESTIMONY SECTION
      ============================== -->
<div class="welcome-2-content welcome-9-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-heading-left welcome-9-left wow fadeInLeft">
                    <h2>Look At Essential Life <span>Facts</span> Measured by the Numbers</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-2-right-content wow fadeInRight">
                    <div class="col-sm-4">
                        <div class="welcome-2-right-content-inner">
                            <span><i class="icon icon-Chart"></i></span>
                            <h2><span class="counter">2349</span></h2>
                            <p>New Members monthly</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="welcome-2-right-content-inner w-r-l-border">
                            <span><i class="icon icon-Users"></i></span>
                            <h2><span class="counter">100</span>%</h2>
                            <p>Positive Feedback from seminars</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="welcome-2-right-content-inner w-r-l-border">
                            <span><i class="icon icon-ChartUp"></i></span>
                            <h2><span class="counter">10</span>%</h2>
                            <p>Increased Registration rates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>