<!-- =========================
        START FOOTER SECTION
      ============================== -->
<section class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="join-team footer-subscribe clearfix">
                        <div class="col-md-7">
                            <p>Our multi level marketing solutions help more than 1000 individuals around the world every month to meet their needs. We can't stand average, and our members can't either.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="all-link pricinig-head-btn footer-top-btn">
                                <a href="#">Download PDF</a>
                                <a href="#">Register Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-content clearfix">
                        <div class="col-sm-6 col-md-6 no-padding-left">
                            <div class="footer-bottom-left">
                                <span>Terms & Conditions  </span> | <span>  API Use Policy   | </span> <span>Privacy Policy   | </span> <span>Blog</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 no-padding-right">
                            <div class="footer-bottom-right">
                                <p>© 2017 Essential Life. All Rights Reserved</p>
                                <p>Design by <span><a href="http://www.madsuite.com" target="_blank">Madsuite.com</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
        END FOOTER SECTION
      ============================== -->