<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Navigation</li>
                <li class="has_sub">
                    <a href="#" class="waves-effect"><span class="label label-pill label-primary float-right">1</span><i class="zmdi zmdi-view-dashboard"></i><span> My Dashboard </span> </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> My Network </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#0">Feeder Stage</a></li>
                        <li><a href="#0">Ruby Stage 1</a></li>
                        <li><a href="#0">Ruby Stage 2</a></li>
                        <li><a href="#0">Ruby Stage 3</a></li>
                        <li><a href="#0">Ruby Stage 4</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-money"></i> <span>My E-Wallet </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#0">Fund Transfer</a></li>
                        <li><a href="#0">Encash Wallet</a></li>
                        <li><a href="#0">Account Statement</a></li>
                        <li><a href="#0">Change Password</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-inbox"></i> <span> Messages </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#0">Compose Messages</a></li>
                        <li><a href="#0">Inbox</a></li>
                        <li><a href="#0">Sent Messages</a></li>
                    </ul>
                </li>
                
                <li class="text-muted menu-title">More</li>
                <li class="has_sub">
                    <a href="#0" class="waves-effect"><i class="zmdi zmdi-account-add"></i><span> Register Member </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#0" class="waves-effect"><i class="zmdi zmdi-help"></i><span> Open Support Ticket </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->